<%= render "shared/header" %>

<main role="main">
  <div class="container">
    <div class="card shadow text-center pt-5" style="height: 300px;">
      <h4 class="text-secondary mt-5">削除が完了しました。</h4>
      <div class='mt-4'>
        <%= link_to "お宅情報一覧へ戻る", root_path, class:"btn-lg btn-info" %>
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>