<footer class="text-muted">
  <div class="container ">
    <p class="float-right">
      <%= link_to image_tag("ashi_top.gif", class: "pt-2", width: "70"), "/" %>
      <h6 class="ad-footer-title mt-4">今すぐ無料ダウンロード！</h6>
      <div class='store-btn'>
        <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
        <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
      </div>
    </p>
    <p class="float-right">Copyright &copy; 2020 Neko-Taku All Rights Reserved.</p>
  </div>
</footer>